body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header style */
header{
    width: 100%;
    height: 80px;
    background: #f33e80;   
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}
nav h2{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    color: whitesmoke;
}
.menu_item{
    width: 463px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu_item span a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    
    
}
.menu_item span:hover a{
    border-bottom: 2px solid rgb(255, 255, 255);
    }
.fas{    
    color: whitesmoke;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
    }
.fas:hover{    
    transform: scale(1.1);
    color: lightblue;
    }


