body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header & menu Item style */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #f33e80;    
  }
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}
nav h2{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    color: whitesmoke;
}
.menu_item{
    width: 463px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu_item span a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px;    
}
.menu_item span a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    }
.icon .fas{    
    color: whitesmoke;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
    cursor: pointer;
    }
    /* Banner aria style here */
.container{
    width: 90%;
    padding:0px 20px;
       
}
.banner_Container{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 50px;
margin-bottom: 69px;
}
#banner_title{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    margin: 0px;
}
.banner_Container .detail{
    font-size: 16px;
    font-weight: 600;
}
button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    border: none;
    background: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    padding:10px 24px;
    cursor: pointer;
}
button .fas{
     margin-left: 5px;
    font-size: 16px;
}
.banner_image{
    width: 70%;
    
}
.banner_image img{
    width: 100%; 
    transition: all .2s;    
}
.banner_image img:hover{
    transform: scale(1.1); 
}
/* logo container style */
.logo_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   padding:10px 20px;
   border-radius: 5px;
   margin-top: 60px;
}
.logo_item a img{
    transition: all .2s;
}
.logo_item a img:hover{
    transform: scale(1.1);
}
/* blog container style */
.blogs_container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 100px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap:30px;
    margin-top: 20px;
}
.blog{
    width: 329px;
    /* height: 476px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;

}
.blog_image{
    width: 100%;
    margin-bottom: 8px;
       
}
.blog_image img{
    width: 100%;
    opacity: .9;   
    
}
.blog_image:hover img{
    opacity: 1;    
}

#blog_title{
    font-size: 28px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 6px;
}
.blog_info span{
font-size: 24px;
font-weight: normal;
}
 .fa-star{
width: 16px;
height: 16px;
color:#FB8200;
}
 .last-star{
color:lightgray;
position: relative;
 }
.seeMore_btn  {
    display: flex;
    justify-content: right;
    margin-right: 80px;
}
.seeMore_btn a  {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 30px;
}
 
